
.buscador_responsive{
	display: none;
}

.etiqueta_lateral_mostrar{
	display: none;
	width: 30px;
    position: fixed;
    background-color: #fed222;
    left: 0;
    text-align: center;
    border-radius: 0 25px 25px 0;
	z-index: 99;
}

.etiqueta_lateral_mostrar,  .etiqueta_lateral_ocultar p{
	font-weight: bolder;
}

.etiqueta_lateral_ocultar{
	display: none;
	width: 30px;
    position: fixed;
    background-color: #fed222;
    left: 0;
    text-align: center;
    border-radius: 0 25px 25px 0;
	z-index: 99;
	margin-left: 260px;
}

#menu-productos{
	display: none;
}

button.cerrar{
	display: none;
}

.comparar{
    color: white;
    margin-left: 10px;
    font-weight: bold;
}
.input-search{
  height: 25px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    border: none;
    padding: 5px;
}
.search{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
}
.search:hover{
  border: 0;
  background: none;
   <*box-shadow: none;*/
   border-left: solid 1px #ccc;
}
.btn-info:active{
  color: #fff;
  background-color: #fed222;
  border-color: #ffcc33;
}
.btn-info:active:hover{
  color: #fff;
  background-color: #fed222;
  border-color: #ffcc33;
}
.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #fed222;
    border-color: #ffcc33;
}
/* Panel Tab/button */
.tab {
  	background: url(../img/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
}

.tab ul.carrito {
	display: block;
	position: initial;
  float: right;
  clear: right;
  height: 42px;
	width: auto;
  /*font-weight: bold;*/
	line-height: 25px;
	margin: 0;
	right: 150px;
  color: black;
  font-size: 90%;
	text-align: center;
}

.tab ul.carrito li.left {
  	background: url(../img/tab_l.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.carrito li.right {
  	background: url(../img/tab_r.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.carrito li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
  	background: url(../img/tab_m.png) repeat-x 0 0;
}

.tab ul.carrito li a {
	color: #000000;
}

.tab ul.carrito li a:hover {
	color: #000000;
  text-decoration: none;
}

.tab .sep {color:#F9FBFC}



/* sliding panel */
#toppanel {
    position: fixed;
    width: 100%;
    z-index: -1 ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.col-xs-12{
  padding-right: 0px;
  padding-left: 0px;
}
.view {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view p.info {
    display: inline-block;
    padding: 7px 14px;
    color: #fff;
    /*box-shadow: 0 0 1px #000;*/
    font-size: 13px;
}

.view .mask hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(34, 174, 84), rgba(0, 0, 0, 0));
}

.view .mask {
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

body{
  background-color: #fff;
}
.navbar-popusa {
  background-color: #040504;
  /*border-color: #ffd222;
  border-bottom-width: thick;*/
}

.navbar-popusa-footer {
background-color: #040504;
}
.navbar-top-links li a{
color:white;
}
.navbar-brand {
padding: 0px;
}

.navbar-brand>img {
height: 15%;
position: fixed;
width: auto;

}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #fff;
}
.sidebar {
    margin-top: 0px;
    position: inherit;
    background-color: #ebf0f0;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cortar{
  width: 100% !important;
  height:20px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  font-size: 17px;
}
/*
.cortar:hover {
width: auto;
white-space: initial;
overflow:visible;
cursor: pointer;
}
*/
.panel-body {
  padding: 0px;
}

.modal {
text-align: center;
padding: 0!important;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}
.navbar-brand > img {
    height: 11%;
}

.navbar-toggle {
  margin-right: 30px;
}
@font-face {
font-family: "kozuka";
font-style: normal;
font-weight: normal;
src: url("./public/Fonts/fonts/Kozuka.ttf") format("truetype");
}
li a{
  /*font-family: "kozuka";*/
}

.sidebar ul li a.active {
  background-color: #ebf0f0;
  border-radius: 10px;
}
.sidebar .nav-second-level li a {
  padding-left: 10px;
}

.navbar-top-links li div {
  color: white;
    padding: 15px;
    min-height: 50px;
}
.nav>li>div:hover {
    text-decoration: none;
    background-color: #222;
    color:white;
    cursor: pointer;
}
.subfamilia{
  padding-left: 10px;
}
.im-pop{
  display: initial;
}
.footer{
  position: relative;
  border-width: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
  bottom: -150px;
}

/* .col-md-8
{
	height: 80%;
} */

.img-footer{
  padding: 16px;
  max-height: 100%;
}

.container-popusa{
  padding-left: 0px;
  padding-right: 0px;
}
.footer-popusa{
  padding-left: 0px;
  padding-right: 0px;
  height: 150px;
}
.footer-popusa-alianza{
  padding-left: 0px;
  padding-right: 0px;
  float: left;
}
.footer-popusa-alianza img{
  height: 150px;
  width: 150px;
}

.footer-popusa-paket{
  padding-left: 0px;
  padding-right: 0px;
  height: 150px;
  width: 150px;
  float: right;
}
.footer-popusa-paket img{
    float: right;
    height: 150px;
}
.semi-circulo {
  /*width: 250px;*/
  height: 65px;
  -moz-border-radius: 0 0 50% 50%;
  -webkit-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
  background: #fff;
  position: absolute;
  top: -35px;
  margin-left: 30%;
}
.semi-circulo img{
  width: 80%;
}

.info-popusa p{
  color:#ffd222;

}
.url-popusa{
  padding-top:30px;
  text-align: left;
}

.url-popusa p b a{
  color:#ffd222;
  font-size: 10px;
}

.info-popusa p b a{
  color:#ffd222;
  font-size: 10px;

}
.info-popusa{
  color:#a8a9ad;
  position: absolute;
  top: 35px;
  margin-left: 24%;
  text-align: center;
}
.redes-popusa{
  margin: 45px auto;
  /*float: right; */
  left: 40px;
}
.view .mask .back-popusa{
  padding: 10px 15px;
  background-size: cover;
  background-position: center;
  font-size: 17px;
}

.view:hover .mask {
    opacity: 1;
}


.masinfo a i{
padding: 2px;
font-size: 21px;
color:white !important;
}


.masinfo {
    height: 35px;
    width: 140px;
    padding: 6px;
    left: 90px;
    bottom: 0px;
    border-top: 0px transparent;
    position: absolute;
}

.addshop {
    height: 35px;
    width: 40px;
    padding: 6px;
    left: 238px;
    bottom: 0px;
    border-top: 0px transparent;
    position: absolute;
}
.addshop a i{
padding: 2px;
font-size: 21px;
color:white !important;
}
.panel-popusa {
  border-bottom-width: thick;
}
.panel{
  margin-bottom: 30px;
}
.max-body{
	min-height:  220px;
	max-height:  220px;
	max-width: 300px;
	min-width: 300px;
	overflow: hidden;

}
/*TODOS LOS MEDIAS QUERYS DE LOS DISPOSITIVOS SE ENCUENTRAN A CONTINUACION*/


/*NEXUS 6*/
@media screen and (min-device-width : 412px) and (max-device-width : 732px) and (device-width : 412px) and (device-height : 732px){
.container{
  padding-right: 0px;
}
.navbar-top-links {
    height: 150px;
    padding-left: 50px;
}
.tab ul.carrito li.right {
  display: none;
}
.popnavbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-brand {
  padding-top: 50px;
}
.tab ul.carrito li.left {
  background: url(../img/tab_m.png) repeat-x 0 0;
}
.rsp-lg{
  height: 220px;
}
.semi-circulo {
  padding-top: 50px;
  width: 412px;
  background:transparent !important;
  margin-left: 0px;
}
.semi-circulo img {
    width: 35% !important;
}
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #222;
    border-color: #337ab7;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #222;
}

@media (min-width: 1200px) {
  .container{
    width: 1300px;
    padding-right:0px;
    padding-left:0px;
  }
}

/*Responsive*/

@media only screen and (min-width: 320px) and (max-width: 402px){

	.navbar-collapse{
		max-height: 400px !important;
	}

	.navbar-collapse.in{
		overflow: visible;
	}

	.buscador_responsive{
		width: 45%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		position: relative;
		top: 20px;
	}

	.buscador_responsive ul{
		padding: 0;
	}

	.buscador_responsive li{
		list-style: none;
	}

	.glyphicon-search{
		color: white;
	}

	.dropdown-menu{
		min-width: 260px !important;
	}

	.thumbnail{
		width: 40%;
		margin-bottom: 0;
	}

	#totalcarrito .col-md-2{
		position: absolute;
		top: 0;
		right: 0;
	}

	.productos{
		text-align: center;
	}

	.view{
		max-width: 283px;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.modal-body{
		max-height: 60vh;
		overflow-y: auto;
	}

	.logo_popusa{
		width: 30%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}

	img.logo{
		height: 65px !important;
		width: auto;
		top: 0px;
	}

	.navbar-brand{
		float: none;
		display: inline-block;
		margin-left: -70px;
	}

	.menu_popusa{
		width: 20%;
		height: 30px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.navbar-toggle{
		float: none;
		display: inline-block;
		margin: 15px;
	}

	.etiqueta_lateral_mostrar{
		display: inline-block;
	}

	.menu_productos{
		position: fixed;
		z-index: 99;
		margin-left: -290px;
		transition: 0.4s
	}

	.sidebar{
		transition: 0.4s;
		max-width: 260px;
		max-height: 50vh;
		overflow-y: auto;
	}

	.container>.navbar-header{
		height: 67px;
	}

	#toppanel .container{
		padding: 0;
	}

	.tab ul.carrito{
		padding: 0;
		position: absolute;
		left: 0px;
		width: 100%;
	}

	.tab li.form-group{
		display: none !important;
		width: 42.5%;
		max-width: 183px;
	}

	.input-search{
		width: 68%;
		max-width: 148px;
		background-color: rgba(255, 255, 255, 0.63);
	}

	ul.navbar-top-links>li{
		width: 100%;
	}

	.principal{
		padding-top: 110px !important;
	}

	/*footer*/

	.footer{
		height: 538px;
	}

	.footer-popusa-alianza{
		float: none;
		display: inline-block;
		position: relative;
		top: 388px;
		left: 0px;
	}

	.info{
		display: inline-block;
		float: none;
		width: 100%;
	}

	.info-popusa {
		text-align: center;
		padding-top: 15px;
		top: 0;
		margin-left: 0;
		position: relative;
	}

	.url-popusa{
		text-align: center;
		padding-top: 15px;
	}

	.masinfo{
		left: 30px;
	}

	.addshop{
		left: 180px;
	}

	.logo{
		display: inline-block;
		float: none;
		text-align: center;
		position: relative;
		top: -298px;
	}

	.semi-circulo{
		margin-left: 0;
		display: inline-block;
		position: relative;
		top: 0;
	}

	.redes{
		float: none;
		display: inline-block;
		position: relative;
		bottom: 190px;
		width: 100%;
	}

	.redes-popusa{
		float: none;
	}

	.footer-popusa-paket{
		position: relative;
		bottom: 161px;
	}
}

@media only screen and (min-width: 403px) and (max-width: 473px){

	.navbar-collapse{
		max-height: 400px !important;
	}

	.navbar-collapse.in{
		overflow: visible;
	}

	.input-search{
		max-width: 88px;
	}

	#toppanel .container{
		padding: 0;
		padding-right: 30px;
	}

	.thumbnail{
		width: 40%;
		margin-bottom: 0;
	}

	#totalcarrito .col-md-2{
		position: absolute;
		top: 0;
		right: 0;
	}

	.productos{
		text-align: center;
	}

	.view{
		max-width: 283px;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.modal-body{
		max-height: 70vh;
		overflow-y: auto;
	}

	.logo_popusa{
		width: 60%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}

	img.logo{
		height: 65px !important;
		width: auto;
		top: 0px;
	}

	.navbar-brand{
		float: none;
		display: inline-block;
		margin-left: -70px;
	}

	.menu_popusa{
		width: 30%;
		height: 30px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.navbar-toggle{
		float: none;
		display: inline-block;
		margin: 15px;
	}

	.etiqueta_lateral_mostrar{
		display: inline-block;
	}

	.menu_productos{
		position: fixed;
		z-index: 99;
		margin-left: -290px;
		transition: 0.4s
	}

	.sidebar{
		transition: 0.4s;
		max-width: 260px;
		max-height: 50vh;
		overflow-y: auto;
	}

	.container>.navbar-header{
		height: 67px;
	}

	#toppanel .container{
		padding: 0;
	}

	.tab ul.carrito{
		padding: 0;
	}

	ul.navbar-top-links>li{
		width: 100%;
	}

	.principal{
		padding-top: 110px !important;
	}

	/*footer*/

	.footer{
		height: 505px;
	}

	.footer-popusa-alianza{
		float: left;
		display: inline-block;
		position: relative;
		top: 355px;
		left: 0px;
	}

	.info{
		display: inline-block;
		float: none;
		width: 100%;
	}

	.info-popusa {
		text-align: center;
		padding-top: 15px;
		top: 0;
		margin-left: 0;
		position: relative;
	}

	.url-popusa{
		text-align: center;
		padding-top: 15px;
	}

	.logo{
		display: inline-block;
		float: none;
		text-align: center;
		position: relative;
		top: -292px;
	}

	.semi-circulo{
		margin-left: 0;
		display: inline-block;
		position: relative;
		top: 0;
	}

	.redes{
		float: none;
		display: inline-block;
		position: relative;
		bottom: 190px;
		width: 100%;
	}

	.redes-popusa{
		float: none;
		margin: 20px auto;
	}

	.footer-popusa-paket{
		position: relative;
		bottom: 161px;
	}
}

@media only screen and (min-width: 474px) and (max-width: 767px){

	.navbar-collapse{
		max-height: 400px !important;
	}

	.navbar-collapse.in{
		overflow: visible;
	}

	.input-search{
		max-width: 160px;
	}

	#toppanel .container{
		padding: 0;
		padding-right: 30px;
	}

	.thumbnail{
		width: 40%;
		margin-bottom: 0;
	}

	#totalcarrito .col-md-2{
		position: absolute;
		top: 0;
		right: 0;
	}

	.productos{
		text-align: center;
	}

	.view{
		max-width: 283px;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.modal-body{
		max-height: 70vh;
		overflow-y: auto;
	}

	.logo_popusa{
		width: 60%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}

	img.logo{
		height: 65px !important;
		width: auto;
		top: 0px;
	}

	.navbar-brand{
		float: none;
		display: inline-block;
		margin-left: -70px;
	}

	.menu_popusa{
		width: 30%;
		height: 30px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.navbar-toggle{
		float: none;
		display: inline-block;
		margin: 15px;
	}

	.etiqueta_lateral_mostrar{
		display: inline-block;
	}

	.menu_productos{
		position: fixed;
		z-index: 99;
		margin-left: -290px;
		transition: 0.4s
	}

	.sidebar{
		transition: 0.4s;
		max-width: 260px;
		max-height: 50vh;
		overflow-y: auto;
	}

	.container>.navbar-header{
		height: 67px;
	}

	ul.navbar-top-links>li{
		width: 100%;
	}

	.principal{
		padding-top: 110px !important;
	}

	/*footer*/

	.footer{
		height: 501px;
	}

	.footer-popusa-alianza{
		float: left;
		display: inline-block;
		position: relative;
		top: 351px;
		left: 0;
	}

	.info{
		display: inline-block;
		float: none;
		width: 100%;
	}

	.info-popusa {
		text-align: center;
		padding-top: 15px;
		top: 0;
		margin-left: 0;
		position: relative;
	}

	.url-popusa{
		text-align: center;
		padding-top: 15px;
	}

	.masinfo{
		left:65px;
	}

	.addshop{
		left:213px;
	}

	.logo{
		display: inline-block;
		float: none;
		text-align: center;
		position: relative;
		top: -295px;
	}

	.semi-circulo{
		margin-left: 0;
		display: inline-block;
		position: relative;
		top: 0;
	}

	.redes{
		float: none;
		display: inline-block;
		position: relative;
		bottom: 153px;
		width: 100%;
	}

	.redes-popusa{
		float: none;
		margin: 0px auto;
	}

	.footer-popusa-paket{
		position: absolute;
		bottom: -350px;
		right: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){

	.productos{
		text-align: center;
	}

	.view{
		max-width: 283px;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	img.logo{
		height: 72px !important;
		width: auto;
		top: 0px;
	}

	.menu_popusa{
		display: none;
	}

	.navbar-toggle{
		float: none;
		display: inline-block;
		margin: 15px;
	}

	.etiqueta_lateral_mostrar{
		display: inline-block;
	}

	.menu_productos{
		position: fixed;
		z-index: 99;
		margin-left: 0;
		left: -290px;
		transition: 0.4s;
		padding: 0;
		top: 45vh;
	}

	.sidebar{
		transition: 0.4s;
		max-width: 260px;
		max-height: 50vh;
		overflow-y: auto;
	}

	.container>.navbar-header{
		width: 100%;
        height: 70px;
        text-align: center;
	}

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
        margin-left: -100px;
        float: none;
        display: inline-block;
    }

	.navbar-top-links{
		text-align: center;
	}

	.principal{
		padding-top: 210px !important;
	}

	/*footer*/

	.footer{
		height: 350px;
	}

	.footer-popusa-alianza{
		float: none;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.info{
		display: inline-block;
		float: none;
		width: 100%;
		position: absolute;
		top: 155px;
	}

	.info-popusa {
		text-align: center;
		padding-top: 15px;
		top: 0;
		margin-left: 0;
		position: relative;
	}

	.url-popusa{
		text-align: center;
		padding-top: 15px;
	}

	.logo{
		display: inline-block;
		float: none;
		text-align: center;
		position: absolute;
		top: -40px;
	}

	.semi-circulo{
		margin-left: 0;
		display: inline-block;
		position: relative;
		top: 0;
	}

	.redes{
		float: none;
		display: inline-block;
		position: absolute;
		bottom: -160px;
		width: 100%;
	}

	.redes-popusa{
		float: none;
		margin: 0px auto;
	}

	.footer-popusa-paket{
		position: absolute;
		bottom: 0;
		right: 0;
	}

}

@media only screen and (min-width: 992px) and (max-width: 1199px){

	.modal-body{
		max-height: 60vh;
		overflow-y: auto;
	}

	.menu_productos{
		padding: 0;
	}

	.masinfo{
		left: 3px;
	}

	.addshop{
		left: 150px;
	}

	.info-popusa{
		margin-left: 20%;
	}
}
