<table style="width: 500px; margin: 0 auto; display: block; font-family: arial; font-size: 14px; line-height: 1.5;">
    <tr>
       <td style="text-align: justify">&nbsp;</td>
    </tr>
    <tr>
       <td>&nbsp;</td>
    </tr>
    <tr>
       <td style="text-align: justify">Estimado _nombre_vendedor:</td>
    </tr>
    <!-- cuando llega nuevo cliente de Telemarketing -->
    <tr>
        <td style="text-align: justify">Se le notifica que telemarketing le ha asignado un nuevo usuario.</td>
     </tr>
    <tr>
       <td style="text-align: justify">Para más información acceda al sistema, a la sección Clientes:</td>
    </tr>
    <!-- cuando llega nuevo cliente de registro -->
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="text-align: justify">Se le notifica que se ha registrado un nuevo cliente en la plataforma.</td>
     </tr>
    <tr>
       <td style="text-align: justify">Para más información acceda al sistema, a la sección Clientes:</td>
    </tr>
    <!-- cuando llega una nueva orden de pedido -->
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="text-align: justify">Se le notifica que se ha registrado una nueva órden para ser capturada en AdProd.</td>
     </tr>
    <tr>
       <td style="text-align: justify">Para más información acceda al sistema:</td>
    </tr>
    <!-- cuando llega nueva cotización de cliente -->
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="text-align: justify">Se le notifica que se ha registrado una nueva solicitud de cotización en la plataforma.</td>
     </tr>
    <tr>
       <td style="text-align: justify">Para más información acceda al sistema, a la sección Cotizaciones:</td>
    </tr>
    <tr>
       <td>&nbsp;</td>
    </tr>
    <tr>
       <td style="text-align: center"><a href="#" style="font-size: 20px; font-weight: bold;" >Abrir sistema administrador</a></td>
    </tr>
    <tr>
       <td>&nbsp;</td>
    </tr>
    <tr>
       <td>&nbsp;</td>
    </tr>

 </table>