<table style="width: 500px; margin: 0 auto; display: block; font-family: arial; font-size: 14px; line-height: 1.5;">
	<tr>
		<td style="text-align: justify">Acá iría el mensaje que le pondría el vendedor</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td style="text-align: justify">Agradecemos de antemano la oportunidad que nos brinda y me permito enviarle, para su amable consideración, la siguiente cotización correspondiente a los productos de su interés.</td>
	</tr>
	<tr>
		<td style="text-align: center">Si desea ponerse en contacto haga click en el siguiente enlace</td>
	</tr>
	<tr>
		<td style="text-align: center; font-size: 26px">alvaro.lopez@correo.buap.mx</td>
	</tr>
	<tr>
		<td  style="text-align: justify">Cualquier duda o comentario estoy para servirle.</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td style="text-align: center"><a href="#" style="font-size: 20px; font-weight: bold;" >Ver cotización</a></td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td><img src="usuarios/firmas/test.jpg" style="width: 100%"></td></tr>
</table>

<hr>

<table style="width: 500px; margin: 0 auto; display: block; font-family: arial; font-size: 14px; line-height: 1.5;"><tr><td style="text-align: justify">&nbsp;</td>     </tr><tr><td>&nbsp;</td></tr><tr><td style="text-align: justify">Estimada/o cliente:</td></tr><tr><td>&nbsp;</td></tr>
                <tr><td style="text-align: justify">Su cotización ha sido enviada y a la brevedad un vendedor se comunicará con usted.</td></tr><tr><td>&nbsp;</td></tr><tr><td style="text-align: justify">Grupo Industrial Popusa le agradece su preferencia.</td></tr><tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr></table>